<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pagina Principal</title>
        <link rel="stylesheet" href="./css/home.css" />
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    </head>
    <body>
        <script src="/home.js"></script>
        <h1 id="saludo">  Hola {{user}}</h1>
        <br />
        <a id="hyper" href="/logout"> Cerrar Session</a>
        <br />
        <table >
            <form action="/" method="GET">
            <input type="search" name="searchValue" id="searchValue">
            <button>Buscar</button>
            </form>
                 {# {# <input id="buscador" type="search" name="buscar" placeholder="buscar" minlength="8rem"/> #}
            <thead>
            <tr>
                <th>ISBN</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Año</th>
                <th>País</th>
                <th>Editorial</th>
                <th><button id="addBtn">Agregar Libro</button></th>
            </tr>

            </thead>
            <tbody id="myTable">
                {% for libro in libros %}
                <tr class="libro-row" id="libro.isbn">
                    <td>{{libro.isbn}} </td>
                    <td>{{libro.titulo}} </td>
                    <td>{{libro.autor}} </td>
                    <td>{{libro.year}} </td>
                    <td>{{libro.pais}} </td>
                    <td>{{libro.editorial}} </td>
                </tr>
    
                {% endfor %}
            </tbody>
           
        </table>
    </body>
</html>
